:root {
    --primary-color: #2c3e50;
    --secondary-color: #2980b9;
    --accent1-color: #e67e22;
    --accent2-color: #ecf0f1;
    --heading-font: "Georgia", serif;
    --body-font: "Helvetica", "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    position: relative;
    display: block;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #ffffff;

}

.hero article {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 50%;
    background-color: rgba(230, 126, 34, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.hero article img {
    float: right;
    width: 125px;

}

.hero article p {
    color: var(--primary-color);
    line-height: 1.5;
    margin: 0;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;
}